@{
    ViewBag.Title = "Contact";
}
<div class="container ">
    <div class="abs-center">
        <h2 class="text-center "> Nuestras Tiendas</h2>
        <div>
            <div id="wrapper-9cd199b9cc5410cd3b1ad21cab2e54d3">
                <div id="map-9cd199b9cc5410cd3b1ad21cab2e54d3"></div>
                <script>
                    (function () {
                        var setting = { "query": "Universidad de Investigación y Desarrollo, Calle 9, Bucaramanga, Santander, Colombia", "width": 1250, "height": 850, "satellite": false, "zoom": 16, "placeId": "ChIJ98Y3NKLsQo4R8vPuc5khj4A", "cid": "0x808f219973eef3f2", "coords": [7.138113099999999, -73.12416999999999], "cityUrl": "/colombia/bucaramanga-30778", "cityAnchorText": "Mapa de Bucaramanga, Santander, Colombia", "lang": "es", "queryString": "Universidad de Investigación y Desarrollo, Calle 9, Bucaramanga, Santander, Colombia", "centerCoord": [7.138113099999999, -73.12416999999999], "id": "map-9cd199b9cc5410cd3b1ad21cab2e54d3", "embed_id": "1113541" };
                        var d = document;
                        var s = d.createElement('script');
                        s.src = 'https://1map.com/js/script-for-user.js?embed_id=1113541';
                        s.async = true;
                        s.onload = function (e) {
                            window.OneMap.initMap(setting)
                        };
                        var to = d.getElementsByTagName('script')[0];
                        to.parentNode.insertBefore(s, to);
                    })();</script><a href="https://1map.com/es/map-embed">UDI</a>
            </div>
        </div>
    </div>

</div>
